@media (max-width: 739px){

    .app{
        display: none;
    }

    .mobile{
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}